      <div class="header-content">
        <div class="left-content">
          <h1>
            Easy-to-use<br />
            Online Voting System
          </h1>
          <div class="hr-line"></div>
          <p>
            Meet <em>Milli</em>, the digital online voting application that
            allows you to create your personalised voting page in the blink of
            an eye. You can either choose to start from scratch or create from
            beautiful and ready-made templates made just for your voting needs.
          </p>
          <button class="pri-button">GET STARTED</button>
        
        </div>  <div class="right-content">
            <img src="/assets/images/bg.png" alt="illustration" />
          </div>
      </div>
<main>
  <div class="about">
    <h2>Let us help you.</h2>
    <p>We give you an head-start and guide you till the finish line.</p>
    <div class="links">
      <div class="link1">
        <img alt="icon" class="icon" src="/assets/images/customizable.svg" />
        <h4>
          Customizable
          <br />Voting Page
        </h4>
        <p>
          Meet Milli, the digital online voting application that allows you to
          create your personalised voting page in the blink of an eye. You can
          either choose to start from scratch or create from beautiful and
          ready-made templates made just for your voting needs.
        </p>
        <div class="line-button">
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="link1">
        <img alt="icon" class="icon" src="/assets/images/customizable.svg" />
        <h4>
          Shareable URL
          <br />Link
        </h4>
        <p>
          Meet Milli, the digital online voting application that allows you to
          create your personalised voting page in the blink of an eye. You can
          either choose to start from scratch or create from beautiful and
          ready-made templates made just for your voting needs.
        </p>
        <div class="line-button">
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="link1">
        <img alt="icon" class="icon" src="/assets/images/customizable.svg" />
        <h4>
          Manage Voting
          <br />Result in Real-time
        </h4>
        <p>
          Meet Milli, the digital online voting application that allows you to
          create your personalised voting page in the blink of an eye. You can
          either choose to start from scratch or create from beautiful and
          ready-made templates made just for your voting needs.
        </p>
        <div class="line-button">
          <a href="#">Learn more</a>
        </div>
      </div>
    </div>
    <h3>Break from the norm and build a voting page that stands out!</h3>
    <button class="pri-button">Start your voting page</button>
  </div>
</main>

<section>
  <div class="content">
    <h1>
      Unlock the power of
      <br />the 'X' generation.
    </h1>
    <div class="content-image">
      <img alt="unlock" src="/assets/images/contentbg.png" />
    </div>

    <div class="artiste">
      <img alt="artiste" src="/assets/images/artiste.png" />
      <div class="artiste-text">
        <h1>
          Create
          <br />polls to know
          <br />your best artiste.
        </h1>
        <p>
          Break from the norm and build a voting page
          <br />that stands out!
        </p>
        <button class="pri-button">Create Your Own Voting Page</button>
      </div>
    </div>
  </div>
</section>

<div class="official">
  <div class="official-content">
    <h1>
      <em>milli</em> and its millions
      <br />potentials of credible voting platform.
    </h1>
    <p>Break from the norm and build a voting page that stands out!</p>
    <div class="edu-poll">
      <img alt="Education Poll" src="/assets/images/edubg.png" />
      <div class="edu-text">
        <h2>
          Create educational
          <br />polls, and get result in
          <br />real-time.
        </h2>
        <p>
          Break from the norm and build a voting page that stands out! hostage ·
          Break from the norm and build a voting page that stands out! hostage ·
          Break from the norm and build a voting page that stands out! hostage ·
        </p>
        <button class="sec-button">
          <a href="#">Create Your Own Voting Page</a>
        </button>
      </div>
    </div>
    <div class="edu-video">
      <div class="video-container">
        <video controls height="420" max-width="100%">
          <source src="movie.mp4" type="video/mp4" />
          <source src="movie.ogg" type="video/ogg" />Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>

<div class="plan">
  <div class="plan-container">
    <div class="plan-head">
      <h1>
        Choose the
        <em>plan</em> that's
        <br />right for you.
      </h1>
      <p>Our pricing & plans do more than their weight.</p>
    </div>
    <div class="plan-packs">
      <div class="plan-box free">
        <div class="plan-type bg-color1">FREEMIUM PACK</div>
        <div class="plan-info">
          <h4>FREE</h4>
          <p>
            This is a free pack for beginners and individuals. It is limited to
            so many features.
          </p>
        </div>
        <div class="plan-benefits">
          <p>
            <img src="/assets/images/check.svg" />Max of 2 voting pages.
          </p>
          <p>
            <img src="/assets/images/check.svg" />Limited Voters participants.
          </p>
          <p>
            <img src="/assets/images/check.svg" />Unique URL link.
          </p>
          <p>
            <img src="/assets/images/check.svg" />Limited Voting option.
          </p>
        </div>
        <div class="plan-select">
          <button class="pri-button">
            <a href="#">Select Plan</a>
          </button>
        </div>
      </div>
      <div class="plan-box premium">
        <div class="plan-type bg-color2">STARTER PACK</div>
        <div class="plan-info">
          <h4>
            ₦1,200
            <p>/months</p>
          </h4>
          <p>
            This is a free pack for beginners and individuals. It is limited to
            so many features.
          </p>
        </div>
        <div class="plan-benefits">
          <p>
            <img src="/assets/images/check.svg" />Max of 2 voting pages.
          </p>
          <p>
            <img src="/assets/images/check.svg" />Limited Voters participants.
          </p>
          <p>
            <img src="/assets/images/check.svg" />Unique URL link.
          </p>
          <p>
            <img src="/assets/images/check.svg" />Limited Voting option.
          </p>
        </div>
        <div class="plan-select">
          <button class="pri-button">
            <a href="#">Select Plan</a>
          </button>
        </div>
      </div>
      <div class="plan-box vip">
        <div class="plan-type bg-color3">PREMIUM PACK</div>
        <div class="plan-info">
          <h4>FREE</h4>
          <p>
            This is a free pack for beginners and individuals. It is limited to
            so many features.
          </p>
        </div>
        <div class="plan-benefits">
          <p>
            <img src="/assets/images/check.svg" />Max of 2 voting pages.
          </p>
          <p>
            <img src="/assets/images/check.svg" />Limited Voters participants.
          </p>
          <p>
            <img src="/assets/images/check.svg" />Unique URL link.
          </p>
          <p>
            <img src="/assets/images/check.svg" />Limited Voting option.
          </p>
        </div>
        <div class="plan-select">
          <button class="pri-button">
            <a href="#">Select Plan</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="browse">
  <div class="content">
    <div class="browse-content">
      <h1>
        Browse through our
        <br />'
        <em>how to</em>' videos.
      </h1>
      <div class="container">
        <div class="video-box">
          <video controls height="240" width="320">
            <source src="movie.mp4" type="video/mp4" />
            <source src="movie.ogg" type="video/ogg" />Your browser does not support the video tag.
          </video>
          <h4>Getting Started on mulli.</h4>
          <p>
            Break from the norm and build a voting page that stands out! hostage
            · Break from the norm and build a voting page that stands out!
            hostage · Break from the norm and build a voting page that stands
            out! hostage ·
          </p>
          <div class="line-button">
            <a href="#">Mulli Youtube Channel</a>
          </div>
        </div>

        <div class="video-box">
          <video controls height="240" width="320">
            <source src="movie.mp4" type="video/mp4" />
            <source src="movie.ogg" type="video/ogg" />Your browser does not support the video tag.
          </video>
          <h4>Getting Started on mulli.</h4>
          <p>
            Break from the norm and build a voting page that stands out! hostage
            · Break from the norm and build a voting page that stands out!
            hostage · Break from the norm and build a voting page that stands
            out! hostage ·
          </p>
          <div class="line-button">
            <a href="#">Mulli Youtube Channel</a>
          </div>
        </div>

        <div class="video-box">
          <video controls height="240" width="320">
            <source src="movie.mp4" type="video/mp4" />
            <source src="movie.ogg" type="video/ogg" />Your browser does not support the video tag.
          </video>
          <h4>Getting Started on mulli.</h4>
          <p>
            Break from the norm and build a voting page that stands out! hostage
            · Break from the norm and build a voting page that stands out!
            hostage · Break from the norm and build a voting page that stands
            out! hostage ·
          </p>
          <div class="line-button">
            <a href="#">Mulli Youtube Channel</a>
          </div>
        </div>

        <div class="video-box">
          <video controls height="240" width="320">
            <source src="movie.mp4" type="video/mp4" />
            <source src="movie.ogg" type="video/ogg" />Your browser does not support the video tag.
          </video>
          <h4>Getting Started on mulli.</h4>
          <p>
            Break from the norm and build a voting page that stands out! hostage
            · Break from the norm and build a voting page that stands out!
            hostage · Break from the norm and build a voting page that stands
            out! hostage ·
          </p>
          <div class="line-button">
            <a href="#">Mulli Youtube Channel</a>
          </div>
        </div>

        <div class="video-box">
          <video controls height="240" width="320">
            <source src="movie.mp4" type="video/mp4" />
            <source src="movie.ogg" type="video/ogg" />Your browser does not support the video tag.
          </video>
          <h4>Getting Started on mulli.</h4>
          <p>
            Break from the norm and build a voting page that stands out! hostage
            · Break from the norm and build a voting page that stands out!
            hostage · Break from the norm and build a voting page that stands
            out! hostage ·
          </p>
          <div class="line-button">
            <a href="#">Mulli Youtube Channel</a>
          </div>
        </div>

        <div class="video-box">
          <video controls height="240" width="320">
            <source src="movie.mp4" type="video/mp4" />
            <source src="movie.ogg" type="video/ogg" />Your browser does not support the video tag.
          </video>
          <h4>Getting Started on mulli.</h4>
          <p>
            Break from the norm and build a voting page that stands out! hostage
            · Break from the norm and build a voting page that stands out!
            hostage · Break from the norm and build a voting page that stands
            out! hostage ·
          </p>
          <div class="line-button">
            <a href="#">Mulli Youtube Channel</a>
          </div>
        </div>
      </div>
      <div class="line-button">
        <a href="#">See more</a>
      </div>
    </div>
  </div>
</div>

<div class="partners">
  <div class="partners-content">
    <h1>
      Meet our
      <em>partners</em>
      <br />and supporter.
    </h1>
    <p>Our Trusted and long-time partners.</p>
    <div class="partners-icon">
      <img alt="Pinnacle" src="/assets/images/1 (1).png" />
      <img alt="Pinnacle" src="/assets/images/1 (2).png" />
      <img alt="Pinnacle" src="/assets/images/1 (3).png" />
      <img alt="Pinnacle" src="/assets/images/1 (4).png" />
      <img alt="Pinnacle" src="/assets/images/1 (5).png" />
      <img alt="Pinnacle" src="/assets/images/1 (6).png" />
    </div>
  </div>
</div>

<footer>
  <div class="foot-note">
    <div class="logo">
      <img alt="Logo" src="/assets/images/logo.svg" />
      <p>
        Mulli is a voting creator platform. It allows users to create a
        customizable voting platform and help user check result in real-time.
      </p>
    </div>
  </div>
  <div class="comp-links">
    <h2>Company</h2>
    <p>
      <a href="#">Home</a>
    </p>
    <p>
      <a href="#">Features</a>
    </p>
    <p>
      <a href="#">How it works?</a>
    </p>
    <p>
      <a href="#">FAQs</a>
    </p>
    <p>
      <a href="#">Data Privacy</a>
    </p>
  </div>
  <div class="com-links">
    <h2>Community</h2>
    <p>
      <a href="#">Team</a>
    </p>
    <p>
      <a href="#">Blog</a>
    </p>
    <p>
      <a href="#">Help Centres</a>
    </p>
    <p>
      <a href="#">Customer Service</a>
    </p>
  </div>
  <div class="follow-links">
    <h2>Follow us</h2>
    <p>
      <a href="#">Facebook</a>
    </p>
    <p>
      <a href="#">Instagram</a>
    </p>
    <p>
      <a href="#">Twitter</a>
    </p>
    <p>
      <a href="#">Linkedin</a>
    </p>
  </div>
</footer>
